.stock-portfolio {
    .input-group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      .form-control {
        margin-right: 10px;
      }
    }
  
    .portfolio-list {
      h3 {
        margin-top: 20px;
      }
  
      ul {
        list-style: none;
        padding: 0;
  
        li {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 0;
  
          button {
            margin-left: 10px;
          }
        }
      }
    }
  }
  